{
    # Global options
    email {$ACME_EMAIL}
}

http://:80 {
    # Proxy all traffic to the nginx container
    reverse_proxy nginx:80

    # Enable logging to both file and stdout
    log {
        output file /var/log/caddy/access.log
    }
}
